# Below categories can be added with no limit (other than the page looking wierd)
# Ships are assigned to a category using below listed rules
# Alts have specific code, they are moved to the alt squad visually (or not, just a tag) in frontend. Their invite (from what the ship is) is overriden in invite.rs line 47.

categories:
  - id: logi
    name: Logistics
  - id: bastion
    name: Bastion
  - id: other
    name: Other  

rules:
  # Logi

  - item: Nestor
    category: logi
  - item: Loki
    category: logi

  # Bastion
  - item: Bastion Module I
    category: bastion
  # Ships
  - item: Vindicator
    category: other
  - item: Oneiros
    category: other
  - item: Guardian
    category: other
  - item: Scimitar
    category: other
  - item: Basilisk
  # Boosters
    category: other
  - item: Eos
    category: other
  - item: Claymore
    category: other
  - item: Damnation
    category: other
  - item: Vulture
    category: other
  # Sponges
  - item: Machariel
    category: other
  - item: Nightmare
    category: other
